$darkblue : #1A1E2B;
$lightblue : #414550;
$cyan : #006478;
$hoverAndActive : #576071;
$notactive : #93FB96;
$locked : #DEF228;
$active : #FF163E;
$smallmobile : "screen and (max-width:400px)";
$bigmobile : "screen and (min-width:401px) and (max-width:768px)";
