<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{css[0]}}">
    <link rel="stylesheet" href="{{css[1]}}">
    <link rel="stylesheet" href="{{css[2]}}">
    <link rel="stylesheet" href="{{css[3]}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Reports</title>
</head>
<body>
    <div id="excel">
        <h3 style="color: white; text-align: center;" class="m-3">التقارير اليومية</h3>
        <div class="serach">
          <input type="number" id="SN" class="form-control" data-key="ShiftNumber" placeholder="رقم الشيفت">
          <input type="number" id="RN" class="form-control" data-key="R_n"  placeholder="رقم الفاتورة">
          <select name="SSN" data-key="serviceName" class="form-control" id="SSN">
            <option value="">اختر خدمة</option>
            {% for s in Service %}
            <option value="{{s['S_name']}}">{{s['S_name']}}</option>
            {% endfor %}
          </select>
          <div class="form-group">
            <label for="from" style="float: right;">من</label>
            <div class="clearfix"></div>
            <input type="date" data-key="serachDate_From" class="form-control DateSearch" id="from" autocomplete="off" placeholder="الرسالة">
          </div>
          <div class="form-group">
            <label for="to" style="float: right;">الي</label>
            <div class="clearfix"></div>
            <input type="date" data-key="serachDate_To" class="form-control DateSearch" id="to" autocomplete="off" placeholder="الرسالة">
          </div>
        </div>
        <div class="btns mt-2 mb-2">
          <button id="SearchNow" class="btn btn-primary">بحث</button>
        </div>
        <div id="tableConR">
          <div id="twoTabels">
            <div id="RRRTabels">
          <table class="mb-4" id="ReportsTable">
            <thead>
                <tr style="font-size: 14px;">
                    <th>التاريخ</th>
                    <th>رقم الشيفت</th>
                    <th>الخدمة</th>
                    <th>رقم الفاتورة</th>
                    <th>خصم الفاتورة</th>
                    <th>صافي الفاتورة</th>
                    <th>عرض</th>
                  </tr>
            </thead>
            <tbody>
                {% for info in r %}
                <tr style="font-size: 14px;">
                    <td>{{ info['endDD'] }}</td>
                    <td>{{info['ShiftNumber']}}</td>
                    <td>{{ info['serviceName'] }}</td>
                    <td>{{ info['R_n'] }}</td>
                    <td>{{ '%0.0f' % info['dis'] }}</td>
                    <td>{{ '%0.0f' % info['total'] }}</td>
                    <td><a target="_blank" href="{{url_for('R_Detail' , id= info['_id'])}}" class="btn btn-primary"><i class="bi bi-binoculars" style="color: white;"></i></a></td>
                  </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
          <table  class="mb-4">
            <thead>
              <tr style="font-size: 14px; font-weight: 800;">
                <td> الاجمالي :  {{'%0.0f' % totalInReport['total']}} </td>
                <td> اجمالي الخصومات : {{'%0.0f' % totalInReport['dis']}} </td>
                <td> صافي : {{'%0.0f' % totalInReport['safy']}}</td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      </div>
      <script src="{{js[10]}}"></script>
      <script src="{{js[11]}}"></script>
      <script src="{{js[13]}}"></script>
      <script src="{{js[0]}}"></script>
      <script src="{{js[1]}}"></script>
      <script src="{{js[2]}}"></script>
      <script src="{{js[3]}}"></script>
      <script src="{{js[4]}}"></script>
      <script src="{{js[5]}}"></script>
      <script src="{{js[6]}}"></script>
      <script src="{{js[7]}}"></script>
      <script src="{{js[8]}}"></script>
      <script src="{{js[9]}}"></script>
      <script src="{{js[12]}}"></script>
</body>
</html>